*.olean
/_target
/leanpkg.path
**/*~
**/*#*
auto
auto/*
*png
**/test.lean
test.org
src/scratch.lean
*.fdb_latexmk
**/*.fdb_latexmk
**/*.aux
/swan-notes/swan-notes.fls
/swan-notes/swan-notes.log
/swan-notes/swan-notes.out
/swan-notes/swan-notes.pdf
*.bbl
*.blg
